.image-preview {
    width: 300px;
    min-height: 300px;
    border: 2px solid #000000;

    /*Default text*/

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}

.image-preview-image{
    display: none;
    width: 100%;
}

/*
.header {
    background-color: #41729F;
    min-width: 100%;
    min-height: 5%;
    
}


.header h1 {
    text-align: left;
    margin-top: 40px;
    color: #FFFFFF;
}

.header p {
    text-align: left;
    margin-top: 20px;
    color: #FFFFFF;
}

.header a {
    text-align: center;
    color: #FFFFFF;
}

*/

/*
.footer {
    background-color: #274472;
    min-width: 100%;
    min-height: 30%;
    
}

.footer p {
    text-align: center;
    margin-top: 60px;
    color: #FFFFFF;
}

.main-body p{
    text-align: center;
}





